
:root {
    --mainColor: "#0099FF";
    --secondCoolor: "#3CB1FF";
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navigation */
nav {
    left: 50%;
    position: fixed;
    overflow: hidden;
    width: 500px;
    top: 0;
    /* color: white; */
    background: #0099FF;
    border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -webkit-border-radius: 0 0 40px 40px;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.25);;
    z-index: 9999;
}

nav ul {
    list-style: none;
    overflow: hidden;

}

nav ul li {
    float: left;
    padding: 12px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

/* Header */
header #text {
    font-size: 36px;
    margin-top: 10%;
    text-align: center;
    font-style: normal;
}

header #text h1:hover {
    text-decoration: underline;
    text-decoration-color: #0099FF;
}

header #arrow {
    text-align: center;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}



/* About me */
section#about {
    width: 100%;
    min-height: 300px;
    background: #3BB1FF;
    margin-top: -5%;
}

#textblock {
    display: block;
    width: 40%;
    color: #FFF;
    margin-left: 20%;

}

#textblock h3 {
    font-size: 36px;

}

#textblock p {
    width: 60%;
}

.imagebox {
    margin-top: -25%;
    left: 58%;
    background: #FFF;
    border-radius: 28px;
    position: absolute;
    width: 60vh;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
    height: 45vh;
    transform: rotate(-14.05deg);
}

#coder {
    z-index: 1;
    width: 27%;
    position: absolute;
    left: 60%;
    margin-top: -20%;

}

/* Wave  */
.wave {
    z-index: -1;
    position: relative;
}

.wave:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("/assets/img/Waves-Port.svg");
    background-size: cover;
}


/* Animations */

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
