@media (max-width: 768px) {
    nav {
        border-radius: 0;
        left: 0;
        width: 100%;
    }

    nav ul li a#getIn {
        display: none;
    }

    header {
        margin-top: 50%;
    }

    header #text {
        font-size: 28px;
    }

    header #arrow img{
        width: 15%;
    }

    section#about {
        margin-top: -12%;
        min-height: 40vh;
    }
    #textblock {
        display: contents;
        width: 90%;
        position: absolute;
        margin-left: 0;
    }
    #textblock p {
        width: 80%;
        margin-left: 30px;
    }

    #textblock h3 {
        margin-left: 30px;
    }

    .ani {
        display: none;
        visibility: hidden;
    }
}
